:root{
    --focus-color:rgba(0, 0, 255, 0.6);
}
.input-title{
    position: absolute;
    margin-top: -10px;
    font-size: 13px;
    color: var(--focus-color);
}
.input-field{
    outline: none;
    border-width: 0 0 2px;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.3);
}
.input-field:focus{
    box-shadow: none;
    border-color: var(--focus-color);
}
